# Pliki konfiguracyjne IDE i edytorów
.vs/
.vscode/
*.swp
*.swo
*~

# Katalogi zależności
node_modules/
obj/
bin/

# Pliki kompilacji i wyjściowe
*/bin/
*/obj/
*.user
*.suo
*.userprefs
*.unityproj
*.booproj
*.pidb
*.sln.docstates

# Katalogi i pliki specyficzne dla platformy .NET
**/[Pp]roperties/launchSettings.json
**/wwwroot/
**/[Aa]ppsettings.json
**/[Aa]ppsettings.*.json
*.csproj
*.csproj.user

# Migracje Entity Framework
**/Migrations/

# Pliki wyjściowe publikacji
**/publish/

# Pliki wyjściowe publikacji
**/publish/

# Pliki cache
**/wwwroot/dist/
**/[Oo]bj/
**/[Bb]in/
*.user
*.cache
*.csproj.user

# Pliki i katalogi dotyczące testów
*.trx
*.log
TestResults/

# Pliki wyjściowe budowania i debugowania
build/
debug/
release/

# Pliki specyficzne dla aplikacji Vue.js
/dist/
/public/

# Pliki środowiskowe
.env
.env.local
.env.*.local

# Pliki i foldery ignorowane przez Vue CLI
.DS_Store
.idea
/.vs/
/.idea/
/.history/

# Pliki i foldery ignorowane przez Vue CLI
.DS_Store
.idea
/.vs/
/.idea/
/.history/

# Pliki lokalne z konfiguracją
/local.settings.json

