# Pliki konfiguracyjne IDE i systemu
**/.vs
**/.vscode
**/*.user
**/*.suo
*.sublime-workspace
*.sublime-project
*.idea
*.swp
*.swo
*.DS_Store
*.db
Thumbs.db

# Katalogi zależności
**/node_modules/
**/wwwroot/

# Katalogi kompilacji i wyjścia
**/bin/
**/obj/
**/out/
**/Properties/launchSettings.json
**/appsettings.Development.json
dist/
build/

# Logi
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Pliki środowiska runtime
.env
.env.local
.env.*.local

# Pliki cache i innych narzędzi
**/.sass-cache/
**/.cache/
**/.m2/
**/bower_components/

# Katalogi specyficzne dla projektów
**/Migrations/
/publish/

# Pliki i katalogi ignorowane specyficznie dla projektu
# Tutaj możesz dodać reguły dla plików, które są generowane
# w trakcie pracy nad projektem i nie powinny być w repozytorium
# Przykłady:
# /secrets.json
# /mojefilmy-backend/appsettings.json

